<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion de stock</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <a href="#">
        <img src="assets/logo.svg" alt="Logo" />
        <span>Gestion de stock</span>
      </a>
    </header>
    <main>
      <h1>Liste des articles</h1>
      <div class="content">
        <nav>
          <button>Ajouter</button>
          <button>Supprimer</button>
        </nav>
        <table>
          <caption hidden>
            Liste des articles
          </caption>
          <thead>
            <tr>
              <th scope="col" class="name">Nom</th>
              <th scope="col" class="price">Prix</th>
              <th scope="col" class="qty">Quantité</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="name">Tournevis</td>
              <td class="price">2.55€</td>
              <td class="qty">234</td>
            </tr>
            <tr>
              <td class="name">Tournevis</td>
              <td class="price">2.55€</td>
              <td class="qty">234</td>
            </tr>
            <tr>
              <td class="name">Tournevis</td>
              <td class="price">2.55€</td>
              <td class="qty">234</td>
            </tr>
            <tr>
              <td class="name">Tournevis</td>
              <td class="price">2.55€</td>
              <td class="qty">234</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
    <footer>
      <a href="#">Mentions Légales</a>
    </footer>
  </body>
</html>
