@import "/node_modules/normalize.css/normalize.css";

header {
  background: #eee;
  height: 3em;
  padding: 0 0.5em;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    text-decoration: inherit;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }

    img {
      height: 2.5em;
      padding-right: 0.5em;
    }

    span {
      font-size: 1.3em;
    }
  }
}
