@import "/node_modules/normalize.css/normalize.css";

@import "./header.scss";
@import "./footer.scss";
@import "./main.scss";
@import "./button.scss";
@import "./table.scss";

body {
  font-family: sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  justify-content: space-between;
}
